 .products {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
  margin-left: 40px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-info {
  width: 400px;
}

.product-card {
  padding: 2%;
  /* flex-grow: 2;
  flex-basis: 25%; */
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  position: relative;
  cursor: pointer;
}

.cont, nav {
  display: flex;
  justify-content: center;
}

.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
  margin: 10px;

  &:focus {
    border: 2px solid black;
    background-color: #fff;
    color: black;
    // outline: 2px solid black;
    // outline-offset: 5px;
  }
}

// button {
//   margin: 10px;
// }

.bn3637 {
  text-align: center;
  color: #fff;
}

.bn36 {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.buttons {
  margin-top: 100px;
}

.description {
  width: 300px;
}

.show-more-btn {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.view-all {
  text-decoration: none;
  color: #fff;
}

.active {
  background-color: red;
}

.add-to-cart-button {
  position: absolute;
  left: 50px;
  right: 20px;
  width: 80%;
  height: 40px;
  opacity: 0.7;
  top: 255px;
  display: none;
  text-align: center;
  color: black;
}

.product-card:hover {
  .card-img {
    opacity: 0.8;
  }
  .add-to-cart-button {
    display: block;
    opacity: 0.85;
    cursor: pointer;
  }
}


@media screen and (max-width:600px) {
    .card-img {
      margin-right: 10px;
      margin-left: 10px;
      flex: 1;
      /* width: 100%; */
    }
    .products {
      margin-right: 10px;
      margin-left: 10px;
    }

    .product-card {
      padding: 2%;
      flex-grow: 1;
      flex-basis: 100%;
      margin-top: 40px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .add-to-cart-button {
      position: absolute;
      left: 80px;
      width: 50%;
      color: black;
    }
  
  }
