.chat-widget {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  .chat-widget__area {
    display: none;
    width: 300px;
    height: 300px;
    border: 2px solid green;
    border-width: 1px 0 0 1px;
    border-radius: 20px 0 0 0;
    background: #f0ffea;
    flex-direction: column;
    padding: 20px 5px 0 5px;
    box-sizing: border-box;
  }
  
  .chat-widget_active .chat-widget__side {
    display: none;
  }
  
  .chat-widget_active .chat-widget__area {
    display: flex;
  }
  
  .chat-widget__messages-container {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .chat-widget__side {
    position: relative;
    width: 50px;
    height: 250px;
    background: red;
    border-radius: 20px 0 0 0;
  }
  
  
  .message {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .message__time {
    display: inline-block;
  }
  
  .message_client {
    justify-content: flex-end;
    text-align: right;
  }
  
  .message__time {
    margin-right: 5px;
    font-size: 10px;
  }
  .message_client .message__time {
    order: 2;
    margin-right: 0;;
    margin-left: 5px;
  }
  .message__text {
    order: 1;
    display: inline-block;
    padding: 5px;
    background: green;
    color: #fff;
    border-radius: 4px;
  }
  
  .message_client .message__text {
    background: red;
  }
  
  .chat-widget__input {
    border: 1px solid gray;
    padding: 10px;
  }
  
  .chat-widget__side-text {
    font-family: Arial;
    color: #fff;
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    left: -100px;
    width: 250px;
    height: 50px;
    line-height: 45px;
    padding: 5px 20px;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 13px;
  }