.arrow-back {
    width: 70px;
    height: 70px;
}

.back-to-shop-btn {
    cursor: pointer;
    border:none;
    background: transparent;
}

.cart-image {
    width: 150px;
    height: 250px;
}

.checkout-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.checkout-item {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.checkout-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.checkout-delete-button {
    cursor: pointer;
    border: none;
    background: transparent;
    text-align: start;
    margin: 0;
    margin-bottom: 5px;
    color: black;
}

.checkout-delete-button:hover {
    font-weight: bold;
}

.adjust-quantity-minus {
    /* margin-right: 10px; */
    cursor: pointer;
    font-size: 20px;
}

.adjust-quantity-plus {
    /* margin-left: 10px; */
    cursor: pointer;
    font-size: 20px;
}
.checkout-quantity {
    margin: 5px 20px;
    font-size: 20px;
}

.checkout-name {
    margin-right: 20px;
}

.back-to-shopping-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.back-to-shopping {
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.divider {
    margin: 20px;
}

.total-container {
    margin: 20px;
}

.total {
    margin-bottom: 15px;
}

.total-promo-input {
    border: none;
    border-bottom: 3px solid;
    outline: none;
    cursor: pointer;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.total-promo-input::placeholder {
    color: #D1D1D1;
}

.total-promo-unlock {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    width: 350px;
    cursor: pointer;
    margin-bottom: 25px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.total-promo-unlock:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

.total-field {
    font-size: 23px;
}