  .modal-main {
    position:fixed;
    width: 20%;
    height: auto;
    bottom:38%;
    right:29%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .modal {
    position: fixed;
    top: 80vh;
    right: 20px;
    bottom: 50vh; 
    text-decoration: none;
    font-size: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
    height: 130px;
    color: #000;
  }

  .modal-close {
    border: none;
    background: transparent;
  }

  .xmark {
    height: 80px;
    margin-left: 85px;
    cursor: pointer;
}

.cross {
  cursor: pointer;
}  

.sale {
  width: 100%;
}