.cart-dropdown-container {
    position: fixed;
    width: 260px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 105px;
    right: 40px;
    z-index: 5;

  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 260px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  
    .button-checkout {
      margin: auto;
      background-color: black;
      color: white;
      padding: 10px;
      border: none;
      width: 90%;
      height: 20%;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
      }
    }
    .empty-cart-message {
      text-align: center;
      margin-top: 50%;
      color: black;
    }
    /* Custom Scrollbar */
.custom-scroll {
  overflow-y: auto;
  max-height: 75vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}
  }
  