 .products {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
  margin-left: 40px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-info {
  width: 400px;
}

.product-card {
  padding: 2%;
  flex-grow: 2;
  flex-basis: 25%;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.cont, nav {
  display: flex;
  justify-content: center;
}

.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
}

button {
  margin: 10px;
}

.bn3637 {
  text-align: center;
  color: #fff;
}

.bn36 {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.buttons {
  margin-top: 100px;
}

.description {
  width: 300px;
}

.show-more-btn {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 18px;
}
