.footer-container {
    height: 100vh;
    width: 100vw;
    margin-top: 100vh;
}

.newsletter {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    margin-top: 20px;
}

.newsletter-sign-github, .newsletter-sign-linkedin {
    margin-right: 10px;
    cursor: pointer;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.newsletter-sign:hover {
    color: red;
}

@media screen and (min-width:650px) {
    .social-media-list {
        /* flex-direction: column; */
        /* margin-top: 10px; */
    }
}

@media screen and (min-width:400px) and (max-width:649px) {
    .social-media-list {
        flex-direction: column;
        margin-top: 10px;
    }
}