/* .main-container {
    display: flex;
    justify-content: space-evenly;
} */

.link-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* position: absolute;
    right: 20%;
    left: 20%;
    top: 80%; */
}

.link {
    text-decoration: none;
    font-size: 40px;
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* position: fixed;
    text-align: center;
    z-index: 2; */
}
