.lookbook-img {
    width: 100vw;
    height: 100vh;
}

.container-img {
    position: relative;
}

.btn1 {
    position: absolute;
    right: 10%;
    top: 150%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn2 {
    position: absolute;
    left: 10%;
    top: 150%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.arrow {
    height: 80px;
    color: black;
}

.text {
    position: absolute;
    top: 105%;
    left: 25%;
    z-index: 1;
  }