.lookbook-img {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container-img {
    position: relative;
}

.btn1 {
    position: absolute;
    right: 10%;
    top: 150%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn2 {
    position: absolute;
    left: 10%;
    top: 150%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.arrow {
    height: 80px;
    color: black;
}

.text {
    position: absolute;
    top: 105%;
    left: 25%;
    z-index: 1;
  }

  article {
    /* position: relative; */
    /* width: 100%; */
    /* height: 100%; */
    opacity: 0;
  }
  article.activeSlide {
    opacity: 1;
    /* transform: translateX(0); */
  }
  article.lastSlide {
    /* transform: translateX(-100%); */
  }
  article.nextSlide {
    /* transform: translateX(100%); */
  }