@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  /* overflow-x: hidden; */
  font-family: 'Montserrat', sans-serif;
}

.home {
  text-align: center;
  /* background: url("https://images.unsplash.com/flagged/photo-1570733117311-d990c3816c47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");   */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  position: relative;
  overscroll-behavior-y: scroll;
}

.sections-container {
  position: fixed;
  right: 20%;
  left: 20%;
  top: 80%; 
  z-index: 2;
}

.cart {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 36px;
  top: 15px;
  z-index: 2;
}

.login {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 136px;
  top: 40px;
  z-index: 2;
  font-size: 25px;
}

.input-search {
  position: fixed;
  width: 180px;
  height: 40px;
  right: 250px;
  top: 30px;
  z-index: 2;
  border: none;
  border-bottom: 5px solid;
  background: transparent;
  text-transform: capitalize;
  color: black;
  font-size: 25px;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.logo {
  position: fixed;
  left: 10%;
  z-index: 2;
}


.link-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.link {
  position: fixed;
  z-index: 3;
  width: 180px;
  right: auto;
  top:50vh;
  text-decoration: none;
  font-size: 40px;
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width:650px) {
.input-search {
  /* margin-top: 50px; */
  right: 225px;
  }

  .social-media-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
  }

  .logo-img {
    height: 100px;
    width: 100px;
    margin-left: 30px;
  }

  .text {
    display: none;
  }

  button.modal {
    height: 130px;
  }

  .modal {
    color: #000;
  }

  .lookbook-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .btn1, .btn2 {
    color: #fff;
  }

  .modal-close {
    color: red;
    background-color:red;
    border: 2p solid black;
  }

  .modal {
    top: 80vh;
    margin-top: 300px;
  }
  .modal-close {
    border: 1px solid black;
    padding-left: 0;
    margin-left: 5px;
  }

  .cont {
    margin: 5px;
  }

  .bn36 {
    padding: 0;
    margin: 0;
  }

  .card-img {
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
    width: 100%;
  }
  .products {
    margin-right: 10px;
    margin-left: 10px;
  }

  .login {
    font-size: 20px;
  }
  
}

@media screen and (min-width:400px) and (max-width:649px) {
  .logo-img {
    /* display: none; */
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
  }

  .input-search {
    margin-top: 70px;
    margin-right: 0px;
    }

  .card-img {
    width: 400px;
  }

  .change {
    /* height: 55px; */
    text-align: center;
    padding: 5px;
    margin: 5px;
  }

  .social-media-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
  }

  .cont {
    margin-right: 10px;
  }

}