* {
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: flex-end;
}

.login {
  justify-self: flex-end;
}

.App {
  text-align: center;
  background: url("https://images.unsplash.com/flagged/photo-1570733117311-d990c3816c47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  position: relative;
}



